/* CSS Document */
:root {
	--background: rgba(122, 224, 255, 0.9);
	--active: rgba(51, 102, 127, 0.9);
	--border: rgba(10,10,10,0.9);
}
@media only screen and (max-width:1080px){body{background:url("Images/Background/backgroundMobile.png");}}

@media only screen and (min-width:1081px){body{ background-image: url("Images/Background/background.png");}}

h1{font: 2em andale-mono, monospace; color: black;}

p{font: 1.5em andale-mono, monospace; color: black;}

a{font: 1.5em andale-mono, monospace; color: black;}

li{font: 1.5em andale-mono, monospace; color: black;}

.maintext{
	background: var(--background); 
	margin: 50px; 
	padding: 50px; 
	border: solid; 
	border-width: 2px; 
	border-color: var(--border); 
}

.maintext p.indented{
	margin-left: 90px;
}

.maintext p a{
	font: 1em andale-mono, monospace; color: black;
}

.maintext img{
	border: solid; 
	border-width: 3px; 
	border-color: var(--border);
}

.maintext img{
	border: solid; 
	border-width: 3px; 
	border-color: var(--border);
}

.maintext iframe{
	border: solid; 
	border-width: 3px; 
	border-color: var(--border);
}

p.indented a{
	font: 1em andale-mono, monospace; color: black;
}

.menubar{
	overflow: hidden; 
	background-color: var(--background); 
	margin: 50px;  
	border: solid; 
	border-width: 2px; 
	border-color: var(--border); 
}

.menubar a{
	float:left; 
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 14px ;
	font-size: 25px;
}

.menubar a:hover{
	background-color: var(--active);
}

.menubar a.active{
	background-color: var(--active);
}