/* CSS Document */

/*@media only screen and (max-width:1080px){body{background:url("Images/Background/backgroundMobile.png");}}

@media only screen and (min-width:1081px){body{ background-image: url("Images/Background/background.png");}}*/

/*basic styling*/
body{
    background-image: linear-gradient(to bottom right, rgba(13,204,255,1), rgba(50,75,255,1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: overlay;
}

h1{
    font: 2.5vw andale-mono, monospace; 
    color: black;
}

p{
    font: 2vw andale-mono, monospace; 
    color: black;
}

a{
    font: 2vw andale-mono, monospace; 
    color: black;
}

a:hover{
	color: rgba(51, 102, 127, 0.7);
}

li{
    font: 2vw andale-mono, monospace; 
    color: black;
}

/*main text*/
.maintext{
	background: rgba(102, 204, 255, 0.3); 
	margin: 4vw; 
	padding-left: 4vw; 
    padding-right: 4vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
	border: solid; 
	border-width: 2px; 
	border-color: rgba(0,0,0,0.5); 
}

.maintext p.indented{
	margin-left: 6vw;
}

.maintext p a{
	font: 2vw andale-mono, monospace;
}

.maintext img{
	border: solid; 
	border-width: 3px; 
	border-color: rgba(0,0,0,0.5);
}

.maintext img{
	border: solid; 
	border-width: 3px; 
	border-color: rgba(0,0,0,0.5);
    height:auto;
    width:60%;  
}
@media only screen and (max-width:800px){
    .maintext img{
        width:100%;
    }
}  

.maintext iframe{
	border: solid; 
	border-width: 3px; 
	border-color: rgba(0,0,0,0.5);
}

p.indented a{
	font: 2vw andale-mono, monospace;
}

/*menu bar*/
.menubar{
	overflow: hidden; 
	background-color:rgba(102, 204, 255, 0.3); 
	margin: 4vw;  
	border: solid; 
	border-width: 2px; 
	border-color: rgba(0,0,0,0.5); 
}

.menubar p{
     text-align: center;
}

.menubar span{
    font-size: 2.5vw;
}

.menubar a{
    border-right: solid;
    border-width: 2px; 
	border-color: rgba(0,0,0,0.5); 
	text-decoration: none;
	text-align: center;
	padding-left: 0.6vw ;
    padding-right: 1.4vw;
    font-size: 2vw;
}

.menubar a.last{
    border-right: none;
}


/*scroll bar*/
::-webkit-scrollbar {
    width: 0.75vw;
}
@media only screen and (max-width:800px){
     ::-webkit-scrollbar{
          width: 1.5vw;
     }
}

::-webkit-scrollbar-track {
    display:none;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.5);
}